/*
    Created by: Tim Crowe aka timmyfury
    http://timmyfury.com/resume

    Modified by Dan Girgenti
*/


/*
    General Styles
**********************************************************************/
body {
    color: #444;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 63.5%;
    min-width: 320px;
    text-align: center;
}

/*
    Straight Clearfixin' Y'all
**********************************************************************/
header:after,
section:after,
section dl:after,
footer:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

/*
    Headings
**********************************************************************/
h1 {
    font-size: 2.8em;
}
h2 {
    font-size: 2.4em;
}
h3 {
    font-size: 2em;
}
h4 {
    font-size: 1.4em;
}

/*
    Shared Structure
**********************************************************************/
header,
section,
footer {
    margin: 20px auto;
    max-width: 60em;
    padding: 0 15px;
    text-align: left;
}

/*
    Header
**********************************************************************/
header img {
    display: block;
    float: left;
    height: 200px;
    margin: 0 20px 20px 0;
    width: 200px;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}
header hgroup {
    text-align: right;
}
header h1 {
    color: #333;
    font-size: 5em;
    font-weight: bold;
    margin: 0 0 10px;
}
header h2 {
    color: #666;
    font-size: 2em;
    font-weight: bold;
    margin: 3px 0;
}
header nav {
    display: none;
}
header a,
header a:visited {
    color: #666;
    text-decoration: none;
}

/*
    Content
**********************************************************************/
section {
    margin: 30px auto;
}
section section {
    margin: 10px 0;
    padding: 0;
}
section h2 {
    color: #FFF;
    font-size: 1.4em;
    font-weight: bold;
    margin: 10px 0 0;
    padding: 8px 8px 8px 20px;
    background-color: #49526B;
    text-transform: lowercase;
    letter-spacing: 1px;
}
section h3 {
    color: #333;
    font-weight: bold;
    margin: 0 0 5px;
}
section h4 {
    color: #333;
    font-weight: bold;
    margin: 0 0 0 20px;
}
section section dl,
section section p,
section section ul {
    margin: 5px 0 10px;
}
section section dl dt,
section section dl dd {
    float: left;
}
section section dl dt {
    font-size: 1em;
    line-height: 1.4em;
    margin: 0 5px 0 0;
}
section section dl dd {
    font-size: 1.2em;
    font-weight: bold;
    line-height: 1.4em;
    margin: 0 15px 0 0;
}
strong {
    font-weight: bold;
}
a,
a:visited {
    transition: all 0.2s;
    color: #333;
    font-weight: bold;
    text-decoration: underline;
}
a:hover,
a:active {
    text-decoration: underline;
    color: #1c302f;
}
p {
    font-size: 1.2em;
    line-height: 1.4em;
}
ul {
    list-style-type: square;
    padding: 0 0 0 40px;
}
ul li {
    font-size: 1.2em;
    line-height: 1.4em;
    margin: 4px 0;
}
section ul ul {
    list-style-type: square;
    padding: 0 0 0 20px;
    margin: 0;
}
ul li ul li {
    font-size: 1em;
    line-height: 1.4em;
}

section h1 a,
section h2 a,
section h3 a,
section h4 a,
section h1 a:visited,
section h2 a:visited,
section h3 a:visited,
section h4 a:visited {
    text-decoration: none;
}

/*
    Experience
**********************************************************************/
section .experience {
    border-bottom: 1px #ccc solid;
}
section .experience:last-child {
    border-bottom: 0 none;
}
section .school h4 {
    margin-left: 0;
}



/*
    Skills
**********************************************************************/
#skills ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#skills li {
    transition: all 0.2s;
    cursor: pointer;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #ccc;
}
#skills li:nth-child(odd) {
    background-color: #efefef;
}
#skills li:last-child {
    border-bottom: 0;
}
#skills li:hover,
#skills li:nth-child(odd):hover {
    background-color: #DDD;
}
#skills ul.filtering li {
    opacity: 0.2;
}
#skills ul.filtering li:hover {
    opacity: 0.9;
}
#skills ul.filtering li.active-filter {
    position: relative;
    opacity: 1;
    border-bottom: 1px solid rgba(204, 204, 204, 0.2);
}
#skills ul.filtering li.active-filter strong:before {
    position: absolute;
    content: '\2713  ';
    left: 0.2em;
}
#skills ul.filtering li.active-filter:hover strong:before {
    content: '\00D7  ';
}
#skills li strong {
    color: #333;
    float: left;
    font-size: 1.1em;
    font-weight: bold;
    line-height: 1.4em;
    margin: 4px 0 4px 20px;
    width: 10em;
}
#skills li span {
    background-color: #fff;
    border-radius: 0 15px 15px 0;
    float: left;
    font-size: 1.1em;
    font-weight: bold;
    line-height: 1.4em;
    margin: 4px 0;
    width: 28em;
}
#skills li span em {
    border-radius: 0 15px 15px 0;
    display: block;
    padding: 0 8px 0 0;
    text-align: right;
}
#skills .rating-1 em { background-color: #979797; width: 2.8em; }
#skills .rating-2 em { background-color: #888888; width: 5.6em; }
#skills .rating-3 em { background-color: #797979; width: 8.4em; }
#skills .rating-4 em { background-color: #6a6a6a; width: 11.2em; }
#skills .rating-5 em { background-color: #5b5b5b; width: 14em; }
#skills .rating-6 em { background-color: #4c4c4c; width: 16.8em; }
#skills .rating-7 em { background-color: #3d3d3d; width: 19.6em; }
#skills .rating-8 em { background-color: #2e2e2e; width: 22.4em; }
#skills .rating-9 em { background-color: #1f1f1f; width: 25.2em; }
#skills .rating-10 em { background-color: #000;  }

/*
    Clearfix
****************************************************************************************************/
#skills li:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
#skills li {
    zoom: 1;
}

/*
    Media Queries
**********************************************************************/

@media screen and (max-width: 640px) {
    #skills h2 {
        position: relative;
        cursor: pointer;
    }
    #skills h2:after {
        position: absolute;
        right: 20px;
        top: 8px;
        content: "▼";
    }
    #skills.open h2:after {
        content: "▲";
    }
    #skills .content {
        display: none;
    }
    #skills li strong {
        width: 88%;
        margin: 2px 0 -4px;
    }
    #skills ul.filtering li.active-filter strong:before,
    #skills ul.filtering li.active-filter:hover strong:before {
        content: "";
    }
}

@media screen and (max-width: 480px) {
    header img {
        display: block;
        float: left;
        height: 135px;
        margin: 0 20px 20px 0;
        width: 135px;
    }
    section dt {
        clear: both;
        padding-top: 1px;
    }
    #skills dt {
        margin: 4px 0;
        width: 10.5em;
    }
    #skills dd {
        margin: 5px 0;
        width: 25em;
    }
    #skills p {
        padding-left: 1em;
    }
    #skills li strong {
        margin-left: 1em;
    }
    #skills li span {
        width: 88%;
        margin-left: 1em;
    }
    #skills .rating-1 em { width: 10%; }
    #skills .rating-2 em { width: 20%; }
    #skills .rating-3 em { width: 30%; }
    #skills .rating-4 em { width: 40%; }
    #skills .rating-5 em { width: 50%; }
    #skills .rating-6 em { width: 60%; }
    #skills .rating-7 em { width: 70%; }
    #skills .rating-8 em { width: 80%; }
    #skills .rating-9 em { width: 90%; }
}

@media screen and (max-width: 400px) {
    header hgroup {
        text-align: center;
    }
    header img {
        display: block;
        float: none;
        width: 150px;
        height: 150px;
        margin: 0 auto 20px;
    }
}

@media screen and (max-width: 320px) {
    header h1 {
        font-size: 4em;
    }
    header h2 {
        font-size: 1.7em;
    }
    section dt {
        clear: both;
        padding-top: 1px;
    }
    section h4 {
        margin: 0 0 0 10px;
    }
    ul {
        padding: 0 0 0 25px;
    }
    #skills ul {
        padding: 0;
    }
    #skills li strong {
        display: block;
        float: none;
        margin: 4px 0 0;
        width: 20em;
    }
    #skills li span {
        clear: both;
        margin: 0 0 5px;
        width: 20em;
    }
}






