/*
	General Styles
**********************************************************************/
body {
	color: #444;
	font-family: "Helvetica Neue", Helvetica, Verdana, Arial, sans-serif;
	font-size: 62.5%;
	min-width: 320px;
	text-align: center;
}

/*
	Straight Clearfixin' Y'all
**********************************************************************/
header:after,
section:after,
section dl:after,
footer:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

/*
	Headings
**********************************************************************/
h1 {
	font-size: 2.8em;
}
h2 {
	font-size: 2.4em;
}
h3 {
	font-size: 2em;
}
h4 {
	font-size: 1.4em;
}

/*
	Shared Structure
**********************************************************************/
header,
section,
footer {
	margin: 20px auto;
	max-width: 60em;
	padding: 0 15px;
	text-align: left;
}

/*
	Header
**********************************************************************/
header img {
	display: block;
	float: left;
	height: 200px;
	margin: 0 20px 20px 0;
	width: 200px;
}
header hgroup {
	text-align: right;
}
header h1 {
	color: #333;
	font-size: 7em;
	font-weight: bold;
	margin: 0 0 10px;
	text-shadow: #ccc 2px 2px;
}
header h2 {
	color: #666;
	font-size: 2em;
	font-weight: bold;
	margin: 3px 0;
	text-shadow: #ddd 1px 1px;
}
header nav {
	display: none;
}
header a,
header a:visited {
	color: #666;
	text-decoration: none;
}

/*
	Content
**********************************************************************/
section {
	margin: 30px auto;
}
section section {
	margin: 10px 0;
	padding: 0;
}
section h2 {
	border-bottom: 1px #ccc solid;
	color: #666;
	font-size: 1.4em;
	font-weight: bold;
	margin: 10px 0;
	padding: 0 0 3px;
	text-align: right;
	text-shadow: #ccc 1px 1px;
	text-transform: uppercase;
}
section h3 {
	color: #333;
	font-weight: bold;
	margin: 0 0 5px;
	text-shadow: #ccc 1px 1px;
}
section h4 {
	color: #333;
	font-weight: bold;
	margin: 0 0 0 20px;
	text-shadow: #ccc 1px 1px;
}
section section dl,
section section p,
section section ul {
	margin: 5px 0 10px;
}
section section dl dt,
section section dl dd {
	float: left;
}
section section dl dt {
	font-size: 1em;
	line-height: 1.4em;
	margin: 0 5px 0 0;
}
section section dl dd {
	font-size: 1.2em;
	font-weight: bold;
	line-height: 1.4em;
	margin: 0 15px 0 0;
}
strong {
	font-weight: bold;
}
a,
a:visited {
	color: #222;
	font-weight: bold;
	text-decoration: underline;
}
p {
	font-size: 1.2em;
	line-height: 1.4em;
}
ul {
	list-style-type: square;
	padding: 0 0 0 40px;
}
ul li {
	font-size: 1.2em;
	line-height: 1.4em;
	margin: 4px 0;
}
section ul ul {
	list-style-type: square;
	padding: 0 0 0 20px;
	margin: 0;
}
ul li ul li {
	font-size: 1em;
	line-height: 1.4em;
}

section h1 a,
section h2 a,
section h3 a,
section h4 a,
section h1 a:visited,
section h2 a:visited,
section h3 a:visited,
section h4 a:visited {
	color: #333;
	text-decoration: none;
}

/*
	Experience
**********************************************************************/
section .experience {
	border-bottom: 1px #ccc solid;
}
section .experience:last-child {
	border-bottom: 0 none;
}
section .school h4 {
	margin-left: 0;
}


/*
	Skills
**********************************************************************/
#skills ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#skills li {
	cursor: pointer;
	margin: 0;
	padding: 0;
}
#skills ul.filtering li {
	opacity: 0.2;
}
#skills ul.filtering li.active-filter {
	opacity: 1;
}
#skills li strong {
	color: #333;
	float: left;
	font-size: 1.2em;
	font-weight: bold;
	line-height: 1.4em;
	margin: 4px 0 4px 20px;
	text-shadow: #ccc 1px 1px;
	width: 10em;
}
#skills li span {
	border: 1px #ccc solid;
	border-radius: 3px;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
	color: #fff;
	float: left;
    font-size: 1.2em;
	font-weight: bold;
    line-height: 1.4em;
	margin: 4px 0;
	width: 30em;
}
#skills li span em {
	border-radius: 2px;
		-moz-border-radius: 2px;
		-webkit-border-radius: 2px;
	display: block;
	padding: 0 5px 0 0;
	text-align: right;
}
#skills .rating-1 em { background-color: #000; width: 3em; }
#skills .rating-2 em { background-color: #0e0e0e; width: 6em; }
#skills .rating-3 em { background-color: #2a2a2a; width: 9em; }
#skills .rating-4 em { background-color: #464646; width: 12em; }
#skills .rating-5 em { background-color: #555; width: 15em; }
#skills .rating-6 em { background-color: #717171; width: 18em; }
#skills .rating-7 em { background-color: #8d8d8d; width: 21em; }
#skills .rating-8 em { background-color: #9b9b9b; width: 24em; }
#skills .rating-9 em { background-color: #aaa; width: 27em; }
#skills .rating-10 em { background-color: #b8b8b8;  }

/*
	Clearfix
****************************************************************************************************/
#skills li:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
#skills li {
	zoom: 1;
}

/*
	Media Queries
**********************************************************************/
@media screen and (max-width: 600px) {}

@media screen and (max-width: 480px) {
	header img {
		display: block;
		float: left;
		height: 135px;
		margin: 0 20px 20px 0;
		width: 135px;
	}
	section dt {
		clear: both;
		padding-top: 1px;
	}
	#skills dt {
		margin: 4px 0;
		width: 10.5em;
	}
	#skills dd {
		margin: 5px 0;
		width: 25em;
	}
	#skills .rating-1 em { width: 2.5em; }
	#skills .rating-2 em { width: 5em; }
	#skills .rating-3 em { width: 7.5em; }
	#skills .rating-4 em { width: 10em; }
	#skills .rating-5 em { width: 12.5em; }
	#skills .rating-6 em { width: 15em; }
	#skills .rating-7 em { width: 17.5em; }
	#skills .rating-8 em { width: 20em; }
	#skills .rating-9 em { width: 22.5em; }
}

@media screen and (max-width: 400px) {}

@media screen and (max-width: 320px) {
	header {
		text-align: right;
	}
	header img {
		display: block;
		float: right;
		height: 200px;
		margin: 0 0 20px;
		width: 200px;
	}
	section dt {
		clear: both;
		padding-top: 1px;
	}
	section h4 {
		margin: 0 0 0 10px;
	}
	ul {
		padding: 0 0 0 25px;
	}
	#skills ul {
		padding: 0;
	}
	#skills li strong {
		display: block;
		float: none;
		margin: 4px 0 0;
		width: 20em;
	}
	#skills li span {
		clear: both;
		margin: 0 0 5px;
		width: 20em;
	}
	#skills .rating-1 em { width: 2em; }
	#skills .rating-2 em { width: 4em; }
	#skills .rating-3 em { width: 6em; }
	#skills .rating-4 em { width: 8em; }
	#skills .rating-5 em { width: 10em; }
	#skills .rating-6 em { width: 12em; }
	#skills .rating-7 em { width: 14em; }
	#skills .rating-8 em { width: 16em; }
	#skills .rating-9 em { width: 18em; }
}






